/* Color Palette */
:root {
  --color-primary: #4caf50; /* Green */
  --color-secondary: #ffffff; /* White */
  --color-accent: #000000; /* Black */
  --color-link: #006400; /* Dark Green */
}

/* Google Fonts 
main heading: Oswald
subheadings: Playwrite Norge
body: Arapey */

@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Oswald:wght@200..700&family=Playwrite+NO:wght@100..400&display=swap");

/* Global Styles */
html p {
  font-family: "Arapey", serif;
}

body {
  background-color: white;
}

/* Navigation */

.navigation {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  text-transform: lowercase;
  color: white;
  margin: 8px;
}

.navigation a:hover,
#upcoming-table a:hover {
  text-transform: uppercase;
  text-decoration: darkgreen underline;
}

.separator {
  color: white;
  margin: 1px 1px;
}

/* Hero & header */

.hero {
  background-image: url("https://images.pexels.com/photos/35030114/pexels-photo-35030114.jpeg");
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  border: 2px solid white;
  padding: 2rem 1rem;
  width: 80%;
  max-width: 500px;
}

.hero .main-heading {
  color: white;
  text-align: center;
  padding: 1vh 1vw;
  display: flex;
  justify-content: center;
}

.hero .main-heading h1 {
  font-size: 3.5rem;
}

/* Main Headings & Titles */
h1 {
  font-family: "Oswald", sans-serif;
  text-transform: lowercase;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-family: "Playwrite NO", sans-serif;
  font-weight: 600 !important;
  font-size: 2rem !important;
}

h2::before,
h2::after {
  content: "";
  border-top: 3px solid #333; /* The horizontal line style */
  flex: 1; /* Allows lines to stretch and fill available space */
  margin: 0 1em; /* Adds space between the text and lines */
}

/* About section */

.about-img {
  display: flex;
  justify-content: center;
}

.about-p {
  text-align: end;
}

/* Upcoming section */

#upcoming {
  display: flex;
  justify-content: center;
}

#upcoming table {
  font-family: "Arapey", serif;
}

#upcoming-table a {
  color: darkgreen;
  text-decoration: none;
}

.events-button {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#upcoming .link-btn-outline,
#contact .link-btn-outline {
  background-color: white;
  color: darkgreen;
  border-radius: 0px;
  border: 2px solid;
  font-family: "Playwrite NO", sans-serif;
  text-transform: lowercase;
  justify-content: center;
}

#upcoming .link-btn-outline:hover,
#contact .link-btn-outline:hover {
  font-weight: bolder;
}
