/* Color Palette */

/* Google Fonts 
main heading: Oswald
subheadings: Playwrite Norge
body: Arapey */

@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Oswald:wght@200..700&family=Playwrite+NO:wght@100..400&display=swap");

/* Global Styles */
html p {
  font-family: "Arapey", serif;
}

body {
  background-color: white;
}

/* Navigation */

.navigation {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  text-transform: lowercase;
  color: white;
  margin: 8px;
}

.navigation a:hover,
#upcoming-table a:hover {
  text-transform: uppercase;
  text-decoration: darkgreen underline;
}

.separator {
  color: white;
  margin: 1px 1px;
}

/* Hero & header */

.hero {
  background-image: url("https://images.pexels.com/photos/35030114/pexels-photo-35030114.jpeg");
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  border: 2px solid white;
  padding: 2rem 1rem;
  width: 80%;
  max-width: 500px;
}

.hero .main-heading {
  color: white;
  text-align: center;
  padding: 1vh 1vw;
  display: flex;
  justify-content: center;
}

.hero .main-heading h1 {
  font-size: 3.5rem;
}
